<!DOCTYPE html>
<head>
    <title> HOTEL NAME </title>
    <link rel="stylesheet" href="{{url_for('templates', path='/styles.css')}}">
</head>
<body>
    <section class="title">
        <a id="phone_number">
            +79888888888
        </a>
        <a href="#" id="logo">
            <img src="{{url_for('templates', path='/logo.png')}}" width="60" height="60">
        </a>
        <a href="#" id="book_link">
            Book right now
        </a>
    </section>
    <div>
        <ul class="navbar">
            <li>
                Rooms
            </li>
            <li>
                History
            </li>
            <li>
                Gallery
            </li>
            <li>
                Spa & Wellness
            </li>
            <li>
                Restraunts
            </li>
        </ul>
    </div>
</body>