a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:focus {
    background: none;
}

a:hover {
    background: none;
}

a:active {
    background: none;
    color: black;
}


.title{
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: rgb(108, 98, 98, 0.7);
    right: 0px;
    color: white
}

.title a{
    color: white;
}

#contacts{
    font-size: 20px;
    font-weight:500;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

#phone_number{
    justify-content: left;
    margin-top: +25px;
    margin-left: +200px;
}

#logo{
    justify-content: center;
}

#book_link{
    justify-content: right;
    margin-top: +25px;
    margin-right: +200px;
}

#navbar{
    margin-left: 15%;
    margin-right: 15%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.greeting{
    background-image: url('romsl4.webp');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 900px;
}

.about-us{
    position: absolute;
    margin-top: 950px;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.history{
    display:flex;
    width: 1920px;
    justify-content: space-around;
}

.history img{
    margin-right: 55px;
    width: 472px;
    height: 472px;
}

.hist-container{
    max-width: 450px;
    font-size: 20px;
}

.para_title{
    font-size: 35px;
}

.reviews-wrapper{
    width: 1920px;
    border-top: 2px solid black;
    padding-bottom: 50px;
    text-align: center;
}

.reviews-box{
    display: flex;
    justify-content: space-around;
}
.review{
    width: 400px;
    height: 250px;
    background-color: rgb(211, 217, 216);
    border-radius: 5%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}


footer{
    position:absolute;
    top: 1880px;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    left: 0px;
    right: 0px;
    height: 400px;
    color: white;
}

.copyrights{
    position: absolute;
    font-size: 20px;
    bottom: 10px;
}

.copyrights a{
    color:white;
}