<!DOCTYPE html>
<head>
    <title> Rooms </title>
    <link rel="stylesheet" href="{{url_for('templates', path='/history/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="title">
        <div id="contacts">
            <a id="phone_number" href="#">
                +79888888888
            </a>
            <a href="/" id="logo">
                <img src="{{url_for('templates', path='/root/romance-tek.webp')}}" width="125" height="100">
            </a>
            <a href="#" id="book_link">
                Book right now
            </a>
        </div>
        <div>
            <ul id="navbar">
                <li>
                    <a href="/rooms">Rooms</a>
                </li>
                <li>
                    <a href="/history">History</a>
                </li>
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
                <li>
                    <a href="/spa">Spa & Wellness</a>
                </li>
                <li>
                    <a href="/restraunts">Restraunts</a>
                </li>
            </ul>
        </div>
    </section>
    <div class="history">
        <h1 class="hist_title">Почувствуйте историю</h1>
        <p>«Стамбул – легендарный город, переживший взлеты и падения многих цивилизаций, загадочное место, которое хранит неизведанные тайны в каждом уголке. Этот город на протяжении истории показал, что миром не может править один правитель. Во время вашего отдыха в этом величественном городе мы будем рады пригласить вас в незабываемое путешествие с рубашками-талисманами османских султанов, которые приоткроют завесу тайны истории города.</p>
        <p>Талисманы были широко известны как предметы и символы, обладающие магической силой и эффектом. Это верование часто встречается в восточной и исламской цивилизациях. На протяжении всей истории вера в силу талисманов заставляла правителей многих исламских государств иметь свои рубашки-талисманы. Ношение рубашек-талисманов стало традицией среди османских султанов и важных государственных деятелей. Считалось, что эти рубашки приносят победу, защищают от зла, обеспечивают благополучие и приносят спокойствие в семью владельца.</p>
        <p>Каждый номер нашего отеля, красота и величие которого может сравниться с османскими дворцами, украшен рубашкой-талисманом, хранящей в себе свою историю. Каждая рубашка в наших номерах является точной копией ручной работы из «Коллекции одежды султана XVI века» дворца Топкапы.<br>Керамические миниатюры ручной работы таинственных и знаменитых зданий города, которыми украшены коридоры нашего отеля, станут недостающим пазлом загадочной истории и расскажут нашим гостям увлекательные легенды о потрясающем Стамбуле.</p>
        <p>На странице выше вы можете увидеть каждую рубашку, которая вдохновила нас. Кликнув по ней, вы можете прочитать их уникальные истории. На картинке посередине вы можете увидеть постройки Стамбула, которые стали основой декора наших коридоров.</p>
        <p>Станьте частью истории Османской империи и ее величия в Romance Istanbul Hotel с рубашками-талисмананми, которые играли важную роль в жизни каждого османского султана. Пока вы будете разгадывать тайны талисманов, история каждой рубашки перенесет вас в загадочный мир Османского прошлого.»</p>
    </div>
    <div class="img">
        <img src="{{url_for('templates', path='/root/kat_1_govde.png.webp')}}">
    </div>
    <footer>
        <div class="copyrights">
            <span>
                © COPYRIGHT 2024 <a href="https://github.com/ilayq">https://github.com/ilayq</a>
            </span>
        </div>
    </footer>
</body>